body {
	margin: 0px; /* pour éviter les marges */
	text-align: center; /* pour corriger le bug de centrage IE */
	/*background-image: url(../images/background2.jpg);*/
	
	/*background-repeat: repeat-x;    */
	background-color:white;
}


/* Page */
#page {
margin-top:100px;
position: relative;
margin-left: auto;
margin-right: auto;
width: 955px;
height:600px;
font-family: Arial, Helvetica, sans-serif;
border: 1px solid #CCC; 
}

#basPage {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 955px;
	height:50px;
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
	border-top:1px;
	border-top-color:#E6E6E6;
	border-top-style:solid;
	margin-top:30px;
}


/*  Bando du haut*/
#bandeau {
	background-image: url(../images/bando5.jpg);
	background-repeat:no-repeat;
	height: 100px;
	width: 955px;
}
#bandeau #bandeau_link {
	decoration:none;
	color:white;
}

/* Bienvenue dans le bando du haut*/
#bienvenue {
	margin-top: 40px;
	color: #FFF;
	font-family: "Comic Sans MS";
	font-size: 26px;
	text-align: right;
	margin-right: 50px;
	float: right;
	position: relative;
}


/*partie centre de la page*/
#center {
	background-color: #FFF;
	height: 500px;
	width:100%;
	float: left;
}

#center #center_not_connected { text-align: center;}
#center #center_not_connected_message {font-weight:bold;color:red;}

#centreForum {
	background-color: #FFF;
	height: 1500px;
	width: 655px;
	float: left;
}


#content{
    width:100%;
    text-align:left;
    padding-top:10px;
    font-size:12px;
}

.content{

    width:100%;
    text-align:left;
    padding-top:10px;
	padding-bottom:10px;
    font-size:12px;
}

#contentVideo{

    
    text-align:center;
    padding-top:10px;
    font-size:12px;
    padding-left:13px;
    padding-right:8px;
}

#contentProfil{


    text-align:left;
    padding-top:10px;
    font-size:12px;
    padding-left:13px;
    padding-right:8px;
}

#contentInscription{
    text-align:left;
    padding-left:13px;
    padding-right:8px;
    padding-top:10px;
}

p{
    margin: 2px 0;
}

fieldset{
    margin-bottom:10px;
    border:#CCC 1px solid;
}

fieldset:hover{
    background-color:#F8F8F1;
}

fieldset legend{
    padding: 0 10px;
    border-left:#CCC 0px solid;
    border-right:#CCC 0px solid;
    font-size:16px;
    color:#999;

}

label{
    
    display:block;
    width:39%;
    float:left;
    padding-right:1%;
    text-align:right;
    letter-spacing:1px;
    font-size:12px;
}

label:hover{
    font-weight:bold;
}

input.form{
    margin-left:1%;
    width:58%;
    border: #CCC 1px solid;
}

input.form:hover,input.form:focus{
    border: #999 1px solid;
    background-color:#DDEEFF;
}

textarea.form{
    margin-left:1%;
    width:58%;
    border: #CCC 1px solid;
    overflow:auto;
    height:150px;    
}

textarea.form:hover,input.form:focus{
    border: #999 1px solid;
    background-color:#DDEEFF;
}
.select{
    margin-left:1%;
    width:15%;
    border: #CCC 1px solid;
}

.select:hover,.select:focus{
    border: #999 1px solid;
    background-color:#DDEEFF;
}

.submit{
    border:#DDEEFF 1px solid;
    width:27%;
}

.submit:hover{
    background-color:#66CC33;
    cursor:pointer;
}

.reset{
    border:#DDEEFF 1px solid;
    width:27%;
    margin-right:2px;
}

.reset:hover{
    background-color:#E6484D;
    cursor:pointer;
}

.birthday{
    width:3%;
    margin-left:1%;
    border: #CCC 1px solid;
}

.birthday:hover{
    border: #999 1px solid;
    background-color:#DDEEFF;
}

.year{
    width:6%;
    margin-left:1%;
    border: #CCC 1px solid;
}

.year:hover{
    border: #999 1px solid;
    background-color:#DDEEFF;
}
#contentDroite {
	
    width:100%;
    text-align:center;
    font-size:12px;
    font-family: "Arial";

}

.contentDroite {
	
    width:100%;
    text-align:center;
    font-size:12px;
    font-family: "Arial";

}
#menuDroite {
	height: 500px;
	width: 299px;
	float: left;
    background-color:white;
    border-left:1px;
    border-left-color:#E6E6E6;
    border-left-style:solid;
}

#menuDroiteForum {
	height: 1500px;
	width: 299px;
	float: left;
    background-color:white;
    border-left:1px;
    border-left-color:#E6E6E6;
    border-left-style:solid;
}

.title{

    color:black;
    font-family:Arial;
    text-align:left;
    padding-top:20px;
    padding-left:15px;
    font-weight:bold;
}

.maj_titre{
    font-size:12px;
    font-weight:bold;
    margin-top:20px;
    margin-left:15px;
}

.maj{
    font-size:12px;
    margin-left:15px;
    margin-right:15px;
}

#barremenu {
	height: 30px;
	width: 100%;
	list-style-type: none;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	clip: rect(0px,0px,0px,0px);
	margin: 0px;
	padding: 0px;
	background-image: url(../images/barre.jpg);
	background-repeat: repeat-x;
}
#barremenu ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#barremenu li {
	display: inline;
	margin: 0px;
	padding: 0px;
	font-family: 'Tenor Sans', sans-serif;
}
#barremenu li a {
	background-image: url(../images/barre.jpg);
	background-repeat: repeat-x;
	display: block;
	height: 25px;
	float: left;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	clear: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	color: #FFFFFF;
	text-decoration: none;
    font-size:14px;
	font-family: 'Tenor Sans', sans-serif;
}

#barremenu  a {
	display: block;
	height: 25px;
	float: right;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 5px;
	clear: none;
	color: #FFFFFF;
	text-decoration: none;
    font-size:14px;
	font-family: 'Tenor Sans', sans-serif;
	cursor:pointer;
}
#barremenu li  a:hover {
	background-image: url(../images/barre_fond2.jpg);
	margin: 0px;
	background-repeat: repeat-x;
	display: block;
	height: 25px;
	float: left;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	clear: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	color: #000000;
	text-decoration: none;
	font-size: 14px;
}

#barremenu  a:hover {
	background-image: url(../images/barre_fond2.jpg);
	background-repeat: repeat-x;
	display: block;
	height: 25px;
	float: right;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 5px;
	clear: none;
	color: #000000;
	text-decoration: none;
	font-size: 14px;
}

#barremenu li a.selected {
	background-image: url(../images/barre_fond2.jpg);
	margin: 0px;
	background-repeat: repeat-x;
	display: block;
	height: 25px;
	float: left;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	clear: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	color: #000000;
	text-decoration: none;
	font-size: 14px;
	font-family: "Comic Sans MS";
}
.lienmenu {
	color: #FFF;
	text-decoration: none;
	font-size: 12px;
}

.lienmenu:hover {
	color: #FFF;
	text-decoration: none;
	font-size: 12px;
	background-color: #6D6DAD;
}


.tdmenu {
	background-color: #504F9B;
	margin: 0px;
	padding: 0px;
	text-align: center;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}

.tdmenu:hover {
	color: #FFF;
	text-decoration: none;
	font-size: 12px;
	background-color: #6D6DAD;
}

text{
    color:silver;
}

img{
    border:0px;
}

a.lienPagination{
    text-decoration:none;
    color:#808080;
}

a.lienPagination:hover{
    background-color:#2C1E75;
    color:white;
}

div#img_film{
    width:100px;
    margin-left:15px;
    display:inline;
    float:left;
    padding-right: 30px;
}

div#info_film{
    display:inline;
    float:left;
    margin-left:30px;
    
}

p.info_film{
    text-align:left;
    font-weight:bold;
}


 /*  loading  */
html, body { height:auto; margin:0px; padding:0px;}
 
#preloader {
  position:fixed;
  background-color:white;
  width:100%;
  height:100%;
  display:block;
  z-index:100000;
}
         
#preloadIMG {
  position:absolute;
  width:640px;
  top:100px;
  left: 50%;
  margin-left: -320px;
}

/* forum */
.centre_cat {
  text-align: center;
}

.sous_cat td{
  color:#333;
  border:1px solid #E2E2E2;
  border-width:1px 0;
  vertical-align:middle;
  padding:3px;
}

td.nom_forum{
  padding-left:15px;
}

.liste_cat{
  width:96%;
  margin-top:10px;
  border-collapse:collapse;
  border:1px solid #C7D6E0;
  background-color:#F8FAFD;
  margin-left:15px;
  margin-right:10px;
}

.center{
  text-align:center;
}

a.bouton_action,span.bouton_action{
  width:145px;
  height:22px;
  background:url("../images/bouton_action.png") no-repeat left top;
  display:block;
  text-align:center;
  color:#FFF;
  padding-top:2px;

}

a.bouton_action:hover{background-position:left -24px;}

.reponse_ajout_sujet{margin-left:15px;}
.sous_cat .dernier_msg{border-right:1px solid #A3C0D5;}
.ligne_impaire td{background-color:#ECEFF2;}
.dernier_msg{border-right:1px solid #A3C0D5;}
.dernier_msg{font-size:.85em;font-style:italic;padding:2px 2px 2px 5px;}

.grosse_cat a{text-decoration:none;color:#1877D5;font-size:1.1em;}


a:link,a:visited,a:active{color:#2677C9;text-decoration:none;}a:hover{color:#C87B02;}a img{border:0;}a img:active{background:none;}
.header_message td{background:#B7DEFD url("../../images/bg_grosse_cat.png") repeat-x bottom;color:#154F8A;}			
			
	
.dates{font-size:.9em;}
.pseudo_membre a:hover,.dates a:hover{text-decoration:underline;}	
.boutons_saut_forum{padding:12px 0;}.boutons_saut_forum p{margin-left:50px;}


/* Popin de connexion */
#popin {}
#popin #popin_aplat {position:fixed;	background-color:#000;top:0;left:0;width: 100%;height : 100%;z-index:9998;opacity:0.7;}
#popin #popin_conteneur {position:absolute;background-color:#FFF;z-index:9999;}
#popin #popin_relative{position:relative;}
#popin #popin_contenu{padding:10px;font-family: ‘Metrophobic’, Arial, serif;}
#popin #popin_close {position:absolute;top:-15px;right:-15px;width:32px;height:32px;background: url(../images/icons/close.png);cursor:pointer;}
#popin #popin_loader {position:fixed;background: url(../images/icons/loader.gif) center center no-repeat;top:0;left:0;width: 100%;height : 100%;z-index:9998;}



#loading {
    background: url(images/load.gif) no-repeat;
    display:none;
}