<!doctype html>
<header class="header">
  <div class="container">
    <img class="profile-image img-responsive pull-left" src="images/profile.png" alt="Marc Joly" />
    <div class="profile-content pull-left">
      <h1 class="name">Marc Joly</h1>
      <h2 class="desc">Technical leader & Agile enthusiast</h2>
      <ul class="social list-inline">
        <li><a href="https://twitter.com/mjoly84" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <!-- <li><a href="http://stackoverflow.com/users/4524482/romain-schlick" target="_blank"><i class="fa fa-stack-overflow"></i></a></li> -->
        <li><a href="https://fr.linkedin.com/in/marc-joly-751b2b15" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <!-- <li><a href="http://github.com/rschlick" target="_blank"><i class="fa fa-github-alt"></i></a></li>      -->
        <li><a href="http://oversoon.wordpress.com" target="_blank"><i class="fa fa-wordpress"></i></a></li>
      </ul>
    </div>
    <a class="btn btn-cta-primary pull-right" href="mailto:doriatsoon@gmail.com"><i class="fa fa-paper-plane"></i> Contactez-moi</a>
  </div>
</header>


<div class="container sections-wrapper">
  <div class="row">
    <div class="primary col-md-8 col-sm-12 col-xs-12">
      <section class="about section">
        <div class="section-inner ">
          <h2 class="heading">À propos de moi</h2>
          <div class="content">
            <p>
              Je suis un développeur craftsman
              <!-- <strong>indépendant</strong> passionné par les technologies du web et par l' -->
              <strong>agilité</strong>.
            </p>
            <p>
              Mon engouement pour le web et les méthodes agiles m'a fait suivre un parcours professionnel riche de différents contextes technico-fonctionnels dans lesquels j'ai su m'adapter et accomplir les missions qui m'étaient confiées.
            </p>
            <p>
              Les services que je propose sont liés aux méthodes agiles (scrum master, référent ou coach agile) mais aussi avec les technologies du WEB (technical leader full stack).
            </p>
          </div>
        </div>
      </section>

      <section class="latest section">
        <div class="section-inner">
          <h2 class="heading">Mon portfolio</h2>
          <div class="content">

            <div class="item featured">
              <h3 class="title"><a href="http://www.mieuxvautprevenir.fr/" target="_blank">Mieux vaut prévenir - Technical leader & Scrum Master</a></h3>
              <p class="summary text-justify">J'ai été Technical leader & Scrum Master d'une équipe de trois développeurs front. J'ai développé l'application Mieux vaut prévenir avec le framework AngularJS. J'étais responsable des développements et donc de la mise en place des best
                pratices, de l'architecture technique, mais aussi du processus de développement Scrum/Kanban. Je suis intervenu également sur l'aspect devOps (intégration et déploiements continus avec Jenkins).</p>
              <div class="featured-image">
                <a href="http://www.mieuxvautprevenir.fr/" target="_blank">
                  <img class="img-responsive project-image" src="images/projects/mvp.png" alt="Mieux vaut prévenir - Technical leader & Scrum Master" />
                </a>
                <div class="ribbon">
                  <div class="text">Nouveau</div>
                </div>
              </div>

              <div class="desc text-left">
                <p>
                  <strong>Stack technique:</strong>
                </p>
                <ul class="list-unstyled">
                  <li>
                    <i class="devicon-angularjs-plain colored" title="AngularJS"></i>
                    <i class="devicon-bootstrap-plain-wordmark colored" title="Bootstrap"></i>
                    <i class="devicon-bower-plain colored" title="Bower"></i>
                    <i class="devicon-html5-plain colored" title="HTML5"></i>
                    <i class="devicon-css3-plain colored" title="CSS3"></i>
                    <i class="devicon-sass-original colored" title="Sass"></i>
                    <i class="devicon-atom-original-wordmark colored" title="Atom"></i>
                    <i class="devicon-grunt-plain-wordmark colored" title="Grunt"></i>
                  </li>
                  <li>
                    <i class="devicon-ssh-plain-wordmark colored" title="Ssh"></i>
                    <i class="devicon-git-plain-wordmark colored" title="Git"></i>
                    <i class="devicon-apache-plain-wordmark colored"></i>
                    <i class="devicon-bitbucket-plain-wordmark colored"></i>
                    <i class="devicon-confluence-plain-wordmark colored"></i>
                    <i class="devicon-mysql-plain-wordmark colored"></i>
                  </li>
                  <li>
                    Mais aussi : Maven, Tomcat, Jira, et Jenkins
                  </li>
                </ul>
              </div>
            </div>
            <hr class="divider" />

            <div class="item row">

              <a class="col-md-4 col-sm-4 col-xs-12" href="http://www.galerieslafayette.com//" target="_blank">
                <img class="img-responsive project-image" src="images/projects/gl.png" alt="Galeries Lafayette - Java JEE Technical Leader" />
              </a>
              <div class="desc col-md-8 col-sm-8 col-xs-12">
                <h3 class="title"><a>Galeries Lafayette - JEE Technical Leader</a></h3>
                <p class="text-justify">
                  Au sein de la direction E-Commerce, présent sur la majorité des étapes du cycle de développement (conception, développement, mise en place des bests pratices), j'ai principalement contribué à la refonte du site en responsive web design tout en accompagnant
                  la DSI dans sa migration vers les méthodes agiles.
                </p>
                <p>
                  <strong>Stack technique:</strong>
                </p>
                <ul class="list-unstyled">
                  <li>
                    <i class="devicon-java-plain-wordmark colored"></i>
                    <i class="devicon-oracle-original colored"></i>
                    <i class="devicon-foundation-plain-wordmark colored"></i>
                    <i class="devicon-bower-plain colored"></i>
                    <i class="devicon-html5-plain colored"></i>
                    <i class="devicon-css3-plain colored"></i>
                    <i class="devicon-grunt-plain-wordmark colored"></i>
                    <i class="devicon-git-plain-wordmark colored"></i>
                    <i class="devicon-jquery-plain-wordmark colored"></i>
                    <i class="devicon-bitbucket-plain-wordmark colored"></i>
                    <i class="devicon-confluence-plain-wordmark colored"></i>
                  </li>
                  <li>
                    Mais aussi : Maven, Tomcat, Jira, et Jenkins
                  </li>
                </ul>
              </div>
            </div>
            <hr class="divider" />

            <div class="item row">
              <div class="desc col-md-8 col-sm-8 col-xs-12">
                <h3 class="title"><a href="http://www.priceminister.com/" target="_blank">Rakuten - Priceminister : Full stack developper & Scrum Master</a></h3>
                <p class="summary text-justify">Au sein du pôle navigation, nous avions pour challenge de répondre à des problématiques modernes (SEO, MERCHANDIZING, USER EXPERIENCE) avec d'un côté des méthodes toutes aussi modernes (SCRUM, XP, KANBAN) et de l'autre, des technologies
                  vieillantes datant du début des années 2000 (JSP, Framework maison).</p>
                <div class="desc text-left">
                  <p>
                    <strong>Stack technique:</strong>
                  </p>
                  <ul class="list-unstyled">
                    
                    
                    
                    <li><i class="fa fa-circle"></i>
                      <strong>Back:</strong> JEE 6, Oracle, SQL, MICROSOFT FAST</li>
                    <li><i class="fa fa-circle"></i>
                      <strong>Front:</strong> HTML, CSS, JQUERY</li>
                    
                    
                    <li>
                      <i class="fa fa-circle"></i>
                      <strong>Autres:</strong> Jenkins, BAZAAR, Jira
                    </li>
                      
                      
                      
                      
                  </ul>
                </div>
              </div>
              <a class="col-md-4 col-sm-4 col-xs-12" href="http://www.priceminister.fr/" target="_blank">
                <img class="img-responsive project-image" src="images/projects/pm.png" alt="Priceminister - Full stack developper & Scrum master" />
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="projects section">
        <div class="section-inner">
          <h2 class="heading">Publications</h2>
          <div class="content text-justify">
            <div class="item" ng-repeat="publication in publications">
              <h3 class="title">{{publication.title}}</h3>
              <p class="summary">{{publication.summary}}</p>
              <p><a class="more-link" target="_blank" href="{{publication.link}}"><i class="fa fa-external-link"></i> Lire plus</a></p>
            </div>
            <a class="btn btn-cta-secondary" target="_blank" href="https://oversoon.wordpress.com">En voir plus sur mon blog <i class="fa fa-chevron-right"></i></a>
          </div>
        </div>
      </section>
    </div>
    <div class="secondary col-md-4 col-sm-12 col-xs-12">
      <aside class="info aside section">
        <div class="section-inner">
          <h2 class="heading">Informations</h2>
          <div class="content">
            <ul class="list-unstyled">
              <li><i class="fa fa-map-marker"></i>
                <span class="sr-only">Lieu:</span>Paris, France</li>
              <li><i class="fa fa-envelope-o"></i>
                <span class="sr-only">E-mail:</span><a href="mailto:doriatsoon@gmail.com">doriatsoon@gmail.com</a></li>
              <li><i class="fa fa-link"></i>
                <span class="sr-only">Blog:</span><a href="http://oversoon.wordpress.com" target="_blank">oversoon.wordpress.com</a></li>
            </ul>
          </div>
        </div>
      </aside>

      <aside class="education aside section">
        <div class="section-inner">
          <h2 class="heading">Formations</h2>
          <div class="content" ng-repeat="university in universities">
            <div class="item">
              <h3 class="title"><i class="fa fa-graduation-cap"></i> {{university.diplome}}</h3>
              <h4 class="university">{{university.university}}
                <span class="year">({{university.years}})</span>
              </h4>
            </div>
          </div>
        </div>
      </aside>

      <aside class="skills aside section">
        <div class="section-inner">
          <h2 class="heading">Compétences</h2>
          <div class="content">
            <p class="intro">
              <a class="more-link" href="https://fr.linkedin.com/in/marc-joly-751b2b15" target="_blank">
                <i class="fa fa-external-link"></i> En voir plus sur LinkedIn
              </a>
            </p>
            <div class="skillset repeat-animation" ng-repeat="skill in skills">
              <div class="item">
                <h3 class="level-title">{{skill.title}}
                  <span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="{{skill.more}}">{{skill.label}}</span>
                </h3>
                <div class="level-bar">
                  <div class="level-bar-inner" data-level="{{skill.level}}"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>
