<!doctype html>
<header class="header">
  <div class="container">
    <img class="profile-image img-responsive pull-left" src="images/profile.png" alt="Marc Joly" />
    <div class="profile-content pull-left">
      <h1 class="name">Marc Joly</h1>
      <h2 class="desc">Technical leader & Agile enthusiast</h2>
      <ul class="social list-inline">
        <li><a href="https://twitter.com/mjoly84" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <!-- <li><a href="http://stackoverflow.com/users/4524482/romain-schlick" target="_blank"><i class="fa fa-stack-overflow"></i></a></li> -->
        <li><a href="https://fr.linkedin.com/in/marc-joly-751b2b15" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <!-- <li><a href="http://github.com/rschlick" target="_blank"><i class="fa fa-github-alt"></i></a></li>      -->
        <li><a href="http://oversoon.wordpress.com" target="_blank"><i class="fa fa-wordpress"></i></a></li>
      </ul>
    </div>
    <a class="btn btn-cta-primary pull-right" href="mailto:doriatsoon@gmail.com"><i class="fa fa-paper-plane"></i> Contactez-moi</a>
  </div>
</header>


<div class="container sections-wrapper">
  <div class="row">
    <div class="primary col-md-8 col-sm-12 col-xs-12">
      <section class="about section">
        <div class="section-inner ">
          <h2 class="heading">À propos de moi</h2>
          <div class="content">
            <p>Je suis un
              <strong>développeur craftsman</strong> passionné par les technologies du web et par
              <strong>l'agilité.</strong>
            </p>
            <p>
              J'ai travaillé dans différents secteurs d'activités (automobile, télécommunication, finance, e-commerce, santé) et ce, la plus part du temps en mode agile.
            </p>
            <p>J'ai acquis une forte maîtrise back-end en travaillant sur des frameworks tels que
              <strong>JEE</strong> et
              <strong>Spring</strong> (SOAP, REST) tout en prônant des pratiques orientées qualité telles que l'XP, le Test Driven Development ou encore le Behaviour Driver Development.
            </p>
            <p> J'ai également travaillé côté front-end, aussi sur bien pour des sites webs que sur des applications mobiles, en manipulant des nouveaux frameworks, tels que
              <strong>AngularJS 1</strong>,
              <strong>Zurb foundation</strong>,
              <strong>Bootstrap</strong> ou encore Apache cordova.
            </p>
            <p>Fervent des outils d'automatisation des tâches, je me suis formé sur des solutions telles que Maven,   Grunt (et bower), Gulp me permettant ainsi de faire de l'intégration continue grâce à Jenkins.
            </p>
            <p>
              Ma conviction pour
              <strong>l'agilité</strong> (Scrum, Kanban, XP, Lean startup) m'a mené à la diffuser en portant des projets en mode agile.</p>
            <p>
              J'ai occupé différents rôles aux cours de mes expériences: 
              <strong>Développeur senior</strong>,
              <strong>Leader technique</strong> ou encore
              <strong>Scrum Master</strong> avec une casquette de
              <strong>coach agile</strong>.
            </p>
            <p>
              Par ailleurs, j'ai suivi des formations significatives orientées agiles et techniques:
            </p>
            <ul class="list-unstyled">
              <li><i class="fa fa-circle"></i>
                <strong>Scrum Master avancé</strong> par Renaud Chevalier (Xebia)</li>
              <li><i class="fa fa-circle"></i>
                <strong>Kanban</strong> par Xebia</li>
              <li><i class="fa fa-circle"></i>
                <strong>Spring</strong> par Zenika</li>
            </ul>
          </div>
        </div>
      </section>

      <section class="latest section">
        <div class="section-inner">
          <h2 class="heading">Mon portfolio</h2>
          <div class="content">

            <div class="item featured">
              <h3 class="title"><a href="http://www.mieuxvautprevenir.fr/" target="_blank">Mieux vaut prévenir - Technical leader & Scrum Master</a></h3>
              <p class="summary text-justify">J'ai été Technical leader & Scrum Master d'une équipe de trois développeurs front. J'ai développé l'application Mieux vaut prévenir avec le framework AngularJS. J'étais responsable des développements et donc de la mise en place des best
                pratices, de l'architecture technique, mais aussi du processus de développement Scrum/Kanban. Je suis intervenu également sur l'aspect devOps (intégration et déploiements continus avec Jenkins).</p>
              <div class="featured-image">
                <a href="http://www.mieuxvautprevenir.fr/" target="_blank">
                  <img class="img-responsive project-image" src="images/projects/mvp.png" alt="Mieux vaut prévenir - Technical leader & Scrum Master" />
                </a>
                <div class="ribbon">
                  <div class="text">Nouveau</div>
                </div>
              </div>

              <div class="desc text-left">
                <p>
                  <strong>Stack technique:</strong>
                </p>
                <ul class="list-unstyled">
                  <li><i class="fa fa-circle"></i>
                    <strong>Front:</strong> HTML5, SASS, AngularJS, Bower, Grunt, Protractor, Apache cordova</li>
                  <li><i class="fa fa-circle"></i>
                    <strong>Autres:</strong> Jenkins, GIT, Jira , Confluence, Bitbucket (Pull requests)</li>
                </ul>
              </div>
            </div>
            <hr class="divider" />

            <div class="item row">

              <a class="col-md-4 col-sm-4 col-xs-12" href="http://www.galerieslafayette.com//" target="_blank">
                <img class="img-responsive project-image" src="images/projects/gl.png" alt="Galeries Lafayette - Java JEE Technical Leader" />
              </a>
              <div class="desc col-md-8 col-sm-8 col-xs-12">
                <h3 class="title"><a>Galeries Lafayette - JEE Technical Leader</a></h3>
                <p class="text-justify">
                  Au sein de la direction E-Commerce, présent sur la majorité des étapes du cycle de développement (conception, développement, mise en place des bests pratices), j'ai principalement contribué à la refonte du site en responsive web design tout en accompagnant
                  la DSI dans sa migration vers les méthodes agiles.
                </p>
                <p>
                  <strong>Stack technique:</strong>
                </p>
                <ul class="list-unstyled">
                  <li><i class="fa fa-circle"></i>
                    <strong>Back :</strong> Tomcat, Oracle, Hybris, Java7 JEE, REST, Spring 4 (MVC), Ant, Maven.</li>
                  <li><i class="fa fa-circle"></i>
                    <strong>Front :</strong> HTML5, SASS, Foundation, JQuery, Bower, Grunt.</li>
                  <li><i class="fa fa-circle"></i>
                    <strong>Autres :</strong> Jenkins, GIT, Jira, Confluence, Bitbucket.</li>
                </ul>
              </div>
            </div>
            <hr class="divider" />

            <div class="item row">
              <div class="desc col-md-8 col-sm-8 col-xs-12">
                <h3 class="title"><a href="http://www.priceminister.com/" target="_blank">Rakuten - Priceminister : Full stack developper & Scrum Master</a></h3>
                <p class="summary text-justify">Au sein du pôle navigation, nous avions pour challenge de répondre à des problématiques modernes (SEO, MERCHANDIZING, USER EXPERIENCE) avec d'un côté des méthodes toutes aussi modernes (SCRUM, XP, KANBAN) et de l'autre, des technologies
                  vieillantes datant du début des années 2000 (JSP, Framework maison).</p>
                <div class="desc text-left">
                  <p>
                    <strong>Stack technique:</strong>
                  </p>
                  <ul class="list-unstyled">
                    <li><i class="fa fa-circle"></i>
                      <strong>Back:</strong> JEE 6, Oracle, SQL, MICROSOFT FAST</li>
                    <li><i class="fa fa-circle"></i>
                      <strong>Front:</strong> HTML, CSS, JQUERY</li>
                    <li><i class="fa fa-circle"></i>
                      <strong>Autres:</strong> Jenkins, BAZAAR, Jira</li>
                  </ul>
                </div>
              </div>
              <a class="col-md-4 col-sm-4 col-xs-12" href="http://www.priceminister.fr/" target="_blank">
                <img class="img-responsive project-image" src="images/projects/pm.png" alt="Priceminister - Full stack developper & Scrum master" />
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="projects section">
        <div class="section-inner">
          <h2 class="heading">Publications</h2>
          <div class="content text-justify">
            <div class="item" ng-repeat="publication in publications">
              <h3 class="title">{{publication.title}}</h3>
              <p class="summary">{{publication.summary}}</p>
              <p><a class="more-link" target="_blank" href="{{publication.link}}"><i class="fa fa-external-link"></i> Lire plus</a></p>
            </div>
            <a class="btn btn-cta-secondary" target="_blank" href="https://oversoon.wordpress.com">En voir plus sur mon blog <i class="fa fa-chevron-right"></i></a>

          </div>
        </div>
      </section>

      <!-- <section class="experience section">
            <div class="section-inner">
            <h2 class="heading">Parcours professionnel</h2>
            <div class="content" ng-repeat="experience in experiences">
            <div class="item">
            <h3 class="title">{{experience.title}} - <span class="place"><a href="#">{{experience.place}}</a></span> <span class="year">({{experience.years}})</span></h3>
            <p>{{experience.description}}</p>
        </div>
    </div>
</div>
</section> -->

    </div>
    <div class="secondary col-md-4 col-sm-12 col-xs-12">
      <aside class="info aside section">
        <div class="section-inner">
          <h2 class="heading">Informations</h2>
          <div class="content">
            <ul class="list-unstyled">
              <li><i class="fa fa-map-marker"></i>
                <span class="sr-only">Lieu:</span>Paris, France</li>
              <li><i class="fa fa-envelope-o"></i>
                <span class="sr-only">E-mail:</span><a href="mailto:doriatsoon@gmail.com">doriatsoon@gmail.com</a></li>
              <li><i class="fa fa-link"></i>
                <span class="sr-only">Blog:</span><a href="http://oversoon.wordpress.com" target="_blank">oversoon.wordpress.com</a></li>
            </ul>
          </div>
        </div>
      </aside>

      <aside class="education aside section">
        <div class="section-inner">
          <h2 class="heading">Formations</h2>
          <div class="content" ng-repeat="university in universities">
            <div class="item">
              <h3 class="title"><i class="fa fa-graduation-cap"></i> {{university.diplome}}</h3>
              <h4 class="university">{{university.university}}
                <span class="year">({{university.years}})</span>
              </h4>
            </div>
          </div>
        </div>
      </aside>

      <aside class="skills aside section">
        <div class="section-inner">
          <h2 class="heading">Compétences</h2>
          <div class="content">
            <p class="intro">
              <a class="more-link" href="https://fr.linkedin.com/in/marc-joly-751b2b15" target="_blank">
                <i class="fa fa-external-link"></i> En voir plus sur LinkedIn
              </a>
            </p>
            <div class="skillset repeat-animation" ng-repeat="skill in skills">
              <div class="item">
                <h3 class="level-title">{{skill.title}}
                  <span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="{{skill.more}}">{{skill.label}}</span>
                </h3>
                <div class="level-bar">
                  <div class="level-bar-inner" data-level="{{skill.level}}"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </aside>

      <!-- <aside class="testimonials aside section">
<div class="section-inner">
<h2 class="heading">Recommandations</h2>
<div class="content">
<div class="item">
<blockquote class="quote">                                  
<p><i class="fa fa-quote-left"></i>Romain possède une expertise sans faille des technologies web en environnement agile. 
Chaque sujet technique est pour lui une curiosité dont il aime relever le challenge tel les différentes ceintures qu'il a obtenues dans son art martial de prédilection. 
Son sens inné du contact et son expérience en agilité (Scrum & Kanban) lui ont permis d'appliquer la science du management participatif. </p>
</blockquote>                
<p class="source"><span class="name">Jean-Baptiste Marcovici</span><br /><span class="title">Responsable R&D</span></p>                                                             
</div><!--//item-->
      <!-- <div class="item">
<blockquote class="quote">                                  
<p><i class="fa fa-quote-left"></i>Romain a un profil très intéressant de par ses connaissances à la fois techniques et à la fois méthodologiques. Il maîtrise aussi bien le langage java, ainsi que les framework les plus connus (Spring, Hibernate et d'autres) que les méthodologies agiles (SCRUM, KANBAN, LEAN). 
Au delà de cela, Romain est un vrai craftman. Il apprécie le travail bien fait et apprécie partager ses connaissances et les bonnes pratiques qu'il a pu acquérir avec son expérience.  </p>
</blockquote>                
<p class="source"><span class="name">Marc Joly</span><br /><span class="title">Scrum Master</span></p>                                                              -->
      <!-- </div><!--//item-->
      <!-- <div class="item">
<blockquote class="quote">                                  
<p><i class="fa fa-quote-left"></i>Romain a apporté son expertise pointue sur les technologies Java, et a permis à l'équipe de faire les meilleurs choix de technologies (architecture, frameworks, composants techniques...), d'améliorer la qualité du code grâce à ses connaissances agiles (SCRUM, extreme programming, TDD...) et en fin de compte par sa motivation et ses qualités humaines à faire progresser l'équipe dans son ensemble. En effet, plus qu'un expert technique, Romain est un leader charismatique, un véritable coach, qui sait guider les autres, faire les meilleurs choix.   </p>
</blockquote>                
<p class="source"><span class="name">Benjamin Lefevre</span><br /><span class="title">Software engineer, Software Architect</span></p>                                                              -->
      <!-- </div><!--//item-->


      <!-- <p><a class="more-link" href="http://www.linkedin.com/pub/romain-schlick/14/a76/b5b" target="_blank"><i class="fa fa-external-link"></i> En voir plus sur Linkedin</a></p>  -->

      <!-- </div>
</div>
</aside> -->



      <!-- <aside class="languages aside section">
<div class="section-inner">
<h2 class="heading">Langues</h2>
<div class="content">
<ul class="list-unstyled" ng-repeat="language in languages">
<li class="item">
<span class="title"><strong>{{language.language}}:</strong></span>
<span class="level">{{language.level}} <br class="visible-xs"/><span  ng-repeat="a in getNumber(language.stars) track by $index"><i class="fa fa-star"></i></span>  </span>
</li>

</ul>
</div>
</div>
</aside>-->
    </div>
  </div>
</div>
